        .code {
            width: 50%;
            white-space: pre-wrap;
            border: solid lightgrey 1px;
        }
        
        .tableau {
          display: none;
          margin-top: 25px;
        }
        
        .no-tableau {
          display: block;
        }
		
div.es-logo {
    display: block;
    height: 150px;
    width: 150px;
	background-image: url("elasticsearch-logo.png");
    background-repeat: no-repeat;
}

.title-row{
    background-color: #dddddd;
    -webkit-box-shadow: 0px 4px 17px -5px rgba(0,0,0,0.46);
-moz-box-shadow: 0px 4px 17px -5px rgba(0,0,0,0.46);
box-shadow: 0px 4px 17px -5px rgba(0,0,0,0.46);
}

.title{
    position: relative;
    top: 30px;

}

.title h2 {
    font-size: 40px;
}

.index-icon{
    position: relative;
    top: -24px;
    float: right;
    margin-right: 10px;
}

.type-icon{
    position: relative;
    top: -24px;
    float: right;
    margin-right: 10px;
}

        .icon-refresh-animate {
            animation-name: rotateThis;
            animation-duration: .75s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;

            ms-animation-name: rotateThis;
            ms-animation-duration: .75s;
            ms-animation-iteration-count: infinite;
            ms-animation-timing-function: linear;
        }

        @keyframes rotateThis {
            from { transform: scale( 1 ) rotate( 0deg );   }
            to   { transform: scale( 1 ) rotate( 360deg ); }
        }

        @-ms-keyframes rotateThis{
            from { ms-transform: scale( 1 ) rotate( 0deg );   }
            to   { ms-transform: scale( 1 ) rotate( 360deg ); }
        }

        .hide{
            display: none;
        }

.query-editor{
    height: 200px;
    width: 100%;
    position: relative;

    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

}

.query-editor:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.date-range-number{
    width: 80px !important;
}

.agg-section{
    /* background-color: #0779A1;
    color: white; */
    margin-top: 25px;
}

.aggregation-builder-container{
    border-left: 5px solid #676767;
    padding-left: 10px;
}

.metrics-builder{
    border-color: #17A8E0;
}

.buckets-builder{
    border-color: #24BBB1;
}

#divSearchResultControls{
    border-left: 5px solid #FED10A;
    padding-left: 10px;
}

.range-row{
   padding: 5px;
   border-bottom: 1px solid #AAAAAA;
}

.alternaterow{
   /*
    background-color: #eeeeee;
    */
}

.typeahead.dropdown-menu{
    width: 100%;
}

.invalid-icon{
    color: red;
    font-size: large;
    top: 6px;
    margin: 2px;
}

/* Form Controls */
.form-group.required .control-label:after { 
   content:"*";
   color:red;
}

.input-group.input-group-unstyled input.form-control {
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}
.input-group-unstyled .input-group-addon {
    border-radius: 4px;
    border: 0px;
    background-color: transparent;
}

.input-group-inline-icon{
    top: 10px;
}

.bucket-number-input{
    width: 120px !important;
}

.range-number-input{
    padding-right: 8px !important;
    width: 160px !important;
}

.range-type-select{
    width: 110px !important;
    padding-right: 14px !important;;
}

.card{
-webkit-box-shadow: -1px 3px 5px 2px rgba(0,0,0,0.18);
-moz-box-shadow: -1px 3px 5px 2px rgba(0,0,0,0.18);
box-shadow: -1px 3px 5px 2px rgba(0,0,0,0.18); 

    border: 1px solid #dddddd;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;   
    border-radius: 3px;

    padding: 10px;
    margin-bottom: 10px;
}

.card.invalid{
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}

.bucket_level_0{

}

.bucket_level_1{
    margin-left: 10px;
}

.bucket_level_2{
    margin-left: 20px;
}

.bucket_level_3{
    margin-left: 30px;
}

.bucket_level_4{
    margin-left: 40px;
}

.bucket_level_5{
    margin-left: 50px;
}

.bucket_level_6{
    margin-left: 60px;
}

.bucket_level_7{
    margin-left: 70px;
}

.bucket_level_8{
    margin-left: 80px;
}

.bucket_level_9{
    margin-left: 90px;
}

.bucket_level_10{
    margin-left: 100px;
}

#submitButton{
    margin-top: 25px;
    margin-bottom: 40px;
}